<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.laegler.com/microservice/modeler/ArchitectureLang"
			class = "com.laegler.microservice.modeler.architectureLang.ArchitectureLangPackage"
			genModel = "model/generated/ArchitectureLang.genmodel" />
	</extension>
 <extension
       id="product"
       point="org.eclipse.core.runtime.products">
    <product
          application="org.eclipse.ui.ide.workbench"
          name="com.laegler.microservice.modeler.product">
       <property
             name="appName"
             value="com.laegler.microservice.modeler.product">
       </property>
    </product>
 </extension>
</plugin>
