<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MicroserviceModel -->
      <package
            uri="http://www.laegler.com/microservice/model/MicroserviceModel"
            class="com.laegler.microservice.model.microserviceModel.MicroserviceModelPackage"
            genModel="model/MicroserviceModel.genmodel"/>
   </extension>
 <extension
       id="product"
       point="org.eclipse.core.runtime.products">
    <product
          application="org.eclipse.ui.ide.workbench"
          name="com.laegler.microservice.modeler.product">
       <property
             name="appName"
             value="com.laegler.microservice.modeler.product">
       </property>
    </product>
 </extension>
</plugin>
