<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.laegler.com/microservice/modeler/ArchitectureYaml"
			class = "com.laegler.microservice.modeler.yaml.architectureYaml.ArchitectureYamlPackage"
			genModel = "model/generated/ArchitectureYaml.genmodel" />
	</extension>
</plugin>
